@import url(./reset.css);
@import url(./variables.css);
@import url(./header.css);



/* Conteudo principal */

.main_container {
    display: flex;
    margin: auto;
    flex-direction: column;
    overflow: hidden;
}



/* First-Card ///////////////////////////////////////////////////////////////////////// */

#presentation {
    display: flex;
    padding: 30px;
    margin: auto;
    width: 1160px;
}

.infos_presentation {
    display: flex;
    align-items: center;
    width: 55%;
    height: 480px;
}

#first_contentP h1 {
    font-size: 4.5em;
    color: var(--Very-Dark-Violet);
    line-height: 1.2em;
}

#first_contentP h2 {
    width: 590px;
    font-size: 1.3em;
    color: var(--Grayish-Violet);
}

.get_started {
    margin-top: 30px;
    background-color: var(--Cyan);
    height: 55px;
    width: 180px;
    border-color: transparent;
    color: white;
    border-radius: 30px;
    font-size: 1.2em;
}

.get_started:hover {
    cursor: pointer;
    background-color: var(--Light-Cyan);
}

.div_image {
    width: 45%;

}

#img_working {
    padding-left: 50px;



}

/* /////////////////////////////////////////////////////////////////////// */

/* Input do link */
.div_short_link {
    width: 1100px;
    background-color: var(--Dark-Violet);
    background-image: url('../../images/bg-shorten-desktop.svg');
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    height: 165px;
    padding: 50px 60px;
    transform: translateY(-84px);
    z-index: 2;
    margin-bottom: 20px;
    position: relative;

}

.div_short_link * {
    height: 100%;
    border-radius: 10px;
    border: none;
    font-size: 23px;
}

.div_short_link input {
    width: 770px;
    padding: 33px;
}

.enter_valid_link {
    
    border: 3px solid var(--Red); 
    
}

#add_valid_link{
    display: none;
    padding-left: 5px;
    height: 30px;
    position: absolute;
    bottom: 12px;
    color: var(--Red);
    font-size: 1.2em;
    font-weight:lighter;
    font-style: italic;
   
}

.div_short_link button {
    width: 188px;
    background-color: var(--Cyan);
    color: white;
}

.div_short_link button:hover {
    cursor: pointer;
    background-color: var(--Light-Cyan);
}

/* API RESPONSE  /////////////////////////////////////////////////////////// */

.div_api_response{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 20px 30px;
    width: 1100px;
    height: 80px;
    transform: translateY(-90px);

}

.link_large{
     width: 680px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     color: var(--Very-Dark-Violet);

} 

.link_b{
    margin-left: auto;
    margin-right: 20px;
    color: var(--Cyan);
}

.div_api_response button{
    background-color: var(--Cyan);
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 1.1em;
}

.div_api_response button:hover{
      background-color: var(--Light-Cyan);
      cursor: pointer;
}






/* ////////////////////////////////////////////////////////////////// */

/* Sessão informativa Advanced Statistics */

.adv_statics {
    background-color: #EFF0F5;
    height: auto;
    bottom: -12%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 60px;
    gap: 10px;
}

#div_adv_static {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 560px;
    gap: 15px;
}

#div_adv_static h1 {
    font-size: 2.3em;
    color: var(--Very-Dark-Violet);
}

#div_adv_static h2 {
    color: var(--Grayish-Violet);
    font-size: 1.2em;
    font-weight: 500;
}

/* //////////////////////////////////////////////////////////////////////////// */

/* Conteúdo informativo em cascata  */
.cascade {
    display: flex;
    width: 1160px;
    height: 430px;
    /* background-color: rgb(252, 72, 72); */
    padding: 30px;
    margin-top: 30px;

}

#cascade1 {
    align-self: flex-start;
}

#cascade2 {
    align-self: center;
}

#cascade3 {
    align-self: flex-end;
}

.rectangle {
    align-self: center;
    width: 30px;
    height: 8px;
    background-color: var(--Light-Cyan);

}

.configuration_cascade {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 350px;
    height: 270px;
    padding: 30px;
    border-radius: 10px;
    background-color: #FFFFFF;
    position: relative;
    padding-bottom: 50px;
}

.configuration_cascade h1 {
    font-size: 1.4em;
    color: var(--Very-Dark-Violet);
}

.configuration_cascade h2 {
    color: var(--Grayish-Violet);
    padding-top: 20px;
    font-size: 0.9em;
    line-height: 1.6em;
    font-weight: 300;
}


.img_icon_background {
    background-color: var(--Dark-Violet);
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -40px;
}


/* BOOST YOUR LINKS TODAY */

.boost {
    background-color: var(--Dark-Violet);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 228px;
    gap: 30px;
    background-image: url('../../images/bg-boost-desktop.svg');
    background-size: cover;
    background-position: center;

}

.boost h1 {
    font-size: 2em;
    color: whitesmoke;

}

.get_started_boost {

    background-color: var(--Cyan);
    height: 45px;
    width: 170px;
    border-color: transparent;
    color: white;
    border-radius: 30px;
    font-size: 1.2em;
}

.get_started_boost:hover {
    cursor: pointer;
    background-color: var(--Light-Cyan);
}


.rodape {
    background-color: var(--Very-Dark-Violet);
    width: auto;
    display: flex;
    justify-content: space-around;
    height: 272px;
    padding: 70px 0px 52px;

}

.list_rodape {
    list-style-type: none;
    color: var(--Grayish-Violet);
}


.title_list h1 {
    font-size: 1em;
    padding-bottom: 20px;
    color: #EFF0F5;
}

.list_rodape li:hover {
    cursor: pointer;

    color: var(--Light-Cyan);
}

.div_list {
    width: 555px;
    display: flex;
    justify-content: space-between;
}

#img_logo_rodape {
    width: 121px;
    height: 33px;
    color: #EFF0F5;
}

.rodape_content {
    display: flex;
    width: 1160px;
    justify-content: space-between;
}

.icon_img {
    width: 25px;
    height: 25px;
}

.icon_img:hover {
    cursor: pointer;
}

.icon_links {
    width: 150px;
    display: flex;
    justify-content: space-between;

}